.header {
  display: flex;
  align-items: center;

}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 3.2rem;
}

.header .title-group {
  padding-left: 3rem;
}

.header .title-group i {
  padding-right: 1rem;
}